.span5
  %br
  %h3 List Created Files
  %table{:style => 'width: 70%;'}
    %tbody
      %tr
        %td{:style => 'width: 30%'}
          File Name
        %td{:style => 'width: 70%'}
          Description
        %td{:style => 'width: 70%'}
          Delete
        %td{:style => 'width: 70%'}
          View Structure
      -@files.each do |file|
        %tr
          %td{:style => 'width: 30%'}
            %a{:href=>"/download?id=#{file.id}"} #{file.filename}
          %td{:style => 'width: 70%'}
            #{file.desc}
          %td{:style => 'width: 70%'}
            %a{:class => 'btn btn-warning', :href => "/delete?id=#{file.id}"}
              %span{:class => 'glyphicon glyphicon-remove', :title => 'Delete'}
          %td{:style => 'width: 70%'}
            - if !(file.type == "pdf" or file.type == "jpg" or file.type == "gif")
              %a{:class => 'btn btn-success', :href => "/view_file?id=#{file.id}"}
                %span{:class => 'glyphicon glyphicon-zoom-in', :title => 'View Structure'}

